<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login Form</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="box">
      <form autocomplete="off">
        <h2>Change Password</h2>
        <div class="inputBox">
          <input type="text" required="required" />
          <span>Email</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input type="password" required="required" />
          <span>New Password</span>
          <i></i>
        </div>
        <div class="inputBox">
          <input type="password" required="required" />
          <span>Confirm Password</span>
          <i></i>
        </div>
        <input type="submit" value="Change" />
      </form>
    </div>
  </body>
</html>
