body{
  background-image: url(./images/Frame.svg);
  background-size: 100vw;
  overflow: hidden;
}
.chat-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  overflow-x: auto;
}

.chat-messages {
  max-height: 400px;



}

li a {
  position: relative;
  left: 180vh;
  font-weight: bolder;
  top:10px;
  text-decoration: none;
  display: inline-block;
  color: rgb(248, 248, 248);
  text-align: center;
  padding: 12px ;
  text-decoration: none;
}
.user-message {
  max-width: 400px;
  background-color: #FFA113;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px 0 10px 10px;
  text-align: right;
  font-size: 15px;
  display: inline-block;
  font-family: sans-serif;
}
.user-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  }

.bot-message {
  max-width: 400px;
  background-color: #ffffff;
  color: #333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0 10px 10px 10px;
  text-align: left;
  display: inline-block;
  font-size: 15px;
  font-family: sans-serif;
}

.bot-container {
width: 100%;
}

.chat-input {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  max-width: 600px;
  padding: 10px;
  /* background-color: #F8F9FA; */
  display: flex;
  align-items: center;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 10px;
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
  border: none;
  border-radius: 10px;
  background-color: #E9ECEF;
  color: #495057;
  outline: none;
  height: 35px;
}

.chat-input input[type="text"]::placeholder {
  font-size: 15px;
  font-family: sans-serif;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
}
.message-container {
  display: flex;
  align-items: center;
}

.user-avatar{
  height: 40px;
  width: 40px;
  position: relative;
  bottom: 3px;
  left: 5px;
  overflow-x: hidden;
  overflow-y: hidden;
 
}
.bot-avatar{
  height: 40px;
  width: 40px;
  position: relative;
  bottom: 3px;
  right: 7px;
  overflow-x: hidden;
  overflow-y: hidden;
 
}

