<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>AZHABOT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.1" />
  <link href="https://fonts.googleapis.com/css?family=Futura&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />

  <link href="./css/main.css" rel="stylesheet" />
  <title>Document</title>
</head>

<body>
  
  <div class="navbar">
    <div class="logo">
      <h2><span class="black">AZHA</span><span class="yellow">BOT</span></h2>
    </div>
    <nav class="nav-links">
      <a href="#section1">Home</a>
      <a href="#section3">Tutorials</a>
      <a href="login.html">Login</a>
    </nav>
  </div>
  <div class="container" id="section1">
    <h1 class="slogan">Get quick answers, chatbot by your side</h1>
    <p class="text">
      A simple chat bot for back-end project with use of golang
    </p>
    <span class="rectangle"></span>
    <div class="btncontainer">
      <a class="button" href="login.html"><span class="btnname">Start Now</span></a>
    </div>
    <div class="bigLogo">
      <img src=".\images\logo.svg" alt="" />
    </div>
    <span class="dialog">👋 Hello, I'm AZHA! </span>

    <!-- <img src="./images/style.svg" alt="" class="vector1" /> -->
  </div>
  <div class="container2" id="section2">
    <h2 class="how">How it works</h2>
    <img src="./images/how.svg" class="howimg" alt="" />
    <img src="./images/style1.svg" class="howimg2" alt="" />
  </div>
  <div class="container3" id="section3"></div>
</body>

</html>