<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Login Form</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="box">
    <form autocomplete="off" id="loginForm">
      <h2>Sign In</h2>
      <div class="inputBox">
        <input type="text" required="required" id="email" />
        <span>Email</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input type="password" required="required" id="password" />
        <span>Password</span>
        <i></i>
      </div>
      <div class="links">
        <a href="register.html">Signup</a>
      </div>
      <input type="submit" class="submit" value="Login" />
    </form>
    <script src="./js/login.js"></script>
  </div>
</body>

</html>
